body {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-size: 24px;
}
h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
a {
text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    margin: 0;
    width: 1120;
}
/* Шапка сайту */
.header {
    background-color: rgb(208, 241, 252);
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    width: 210;
    padding-left: 50px;
}
.header-list {
    display: flex;
    gap: 64px;
}
.header-link {
    color: black;
    font-weight: 700;
    padding-right: 20px;
}
/* Головна секція  */
.hero {
    background-color:  rgb(208, 241, 252);
}
.hero-container {
    display: flex;
    gap: 57px;
    align-items: center;
}
.hero-span {
    font-weight: 600;
    padding-left: 50px;
}
.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 103%;
    padding-left: 50px;
    padding: 16px 0;
}
.hero-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 153%;
    padding-left: 50px;
    padding-bottom: 32px;
}
.hero-button {
    font-weight: 900;
    font-size: 20px;
    line-height: 153%;
    color: #ffffff;
    padding: 15px 22px;
    background: #6278b4;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin-top: 30px;
    margin: 8px;
}

/* Друга секція */
.servies {
    background-color:#fbfcff;
    padding-top: 24px;
    padding-bottom: 52px;
}   
.servies-title {
    font-weight: 600;
    font-size: 48px;
    color: black;
    text-align: center;
    border-bottom: 4px solid grey;
    width: 351px;
    margin: 0 auto 18px;
}
.servies-title span {
    color: ;
}
.servies-list {
    display: flex;
    gap: 85px;
    padding-bottom: 57px;

}
.servies-item {
    display: flex;
    flex: 1;
}
.servies-img {
    width: 49px;
    height: 49px;
    margin-right: 12px;
}
.servies-caption {
    font-weight: 400;
    font-size: 24px;
    line-height: 153%;
    
}
.servies-caption span {
    font-weight: 500;
    color: ;
}
.servies-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 153%;
    color: ;
}
/* Footer */
.footer {
    background-color:#535353;
    margin-top: 32px;
    margin-bottom: 90px;
    height: 354px;
}
.footer-wrap {
    border-bottom: 2px solid #6278b4;
    width: 1120px;
    padding-bottom: 28px;
}
.footer-title {
    color: #ffffff;
    padding-top: 32px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 32px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
}
.footer-img {
    padding-right: 22px;
}
.footer-link {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}
.footer-item {
    display: flex;
    align-items: center;
}
